# Virtual environments
.venv/
*.egg-info/
# Env files
.env
.env.prod
.env.sample

# Python cache
__pycache__/
.*__pycache__/
.pytest_cache/
.cache/

# Sensitive files
handlers.py
security.py
github-sa-key.json

# Static files
staticfiles/
static/

# Temporary ignored files
tests/test_messaging.py
tests/test_routes.py
