# traefik-service/traefik.yml
api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: shared_network
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true

certificatesResolvers:
  letsencrypt:
    acme:
      email: your-email@example.com
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web

log:
  level: INFO
  
accessLog:
  filePath: "/var/log/traefik/access.log"
  format: json

# Global HTTP to HTTPS redirect
# http:
#   redirections:
#     entryPoint:
#       to: websecure
#       scheme: https